@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.navbar {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(46, 46, 46);
  padding: 0 10px;
  height: 10vh;
}
li,
a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}
.navlinks li {
  display: inline-block;
}
.navlinks li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  font-size: 1rem;
}
.navlinks li:hover {
  transform: scale(1.2);
}
.navbar button {
  border: 3px solid white;
  padding: 9px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  right: 50px;
}
.navbar button:hover {
  transform: scale(1.2);
  background-color: white;
  color: #000;
  font-weight: 900;
}
.about {
  margin: 0;
  height: 60vh;
  background-color: rgb(0, 0, 0);
}

/* ABOUT US */

.about {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-text {
  grid-column-start: 2;
  margin-bottom: 20px;
  left: 80px;
  right: 80px;
  padding: 0 15vw;
  text-align: center;
  font-size: 1.25rem;
  color: #ffffff;
}
.logo-big {
  height: 15%;
  width: auto;
}
.about h1 {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
}
.item {
  height: 40vh;
  width: 40vh;
}

/* EVENTS */

.events {
  margin-top: 20vh;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:; */
  background-color: rgb(8, 8, 8);
}
.events-title {
  font-size: 2.5rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}
.events-carousel {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 20vw;
}

/* blog */

.publ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.publ h1 {
  font-size: 2.5rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1.5rem;
  padding: 3rem;
  justify-content: center;
  min-height: 100vh;
}
.blog {
  background-color: white;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 450px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  transform: rotateY(20deg);
  transform: rotateX(20deg);
  margin: 1rem 1rem;
  box-shadow: 15px 33px 32px -11px rgba(0, 0, 0, 0.51);
}
.cardcontent {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card__image {
  flex: 0 0 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card__title {
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
}
.card__snippets {
  margin: 7px 0;
}
.card__readmore {
  margin-top: auto;
  text-transform: uppercase;
  text-align: right;
  margin-right: 15px;
  transition: 5s ease-in-out;
}

/* publications */
.publications {
  min-height: 100vh;
}
.publications h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}
.pub {
  max-width: 350px;
}
/* TEAM */

.team {
  min-height: 100vh;
  background-color: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}
.button-set a {
  padding-left: 20px;
}
.team h1 {
  text-transform: uppercase;
}
/* FOOTER */
.contact-us {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
  align-items: center;
}
.brief {
  flex-basis: 20%;
}
.social {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.links {
  display: flex;
  justify-content: space-around;
}
.links img {
  height: 24px;
  width: 24px;
  margin-right: 15px;
}
.buttons-reveal:hover {
  color: rgb(245, 248, 214);
  transition: 0.5s ease-out;
}
